
html {
	font-size: 62.5%; /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}
/******************************************************************************/

.container{
   margin: auto;
}

.img-responsive{
  width: 100%;
}
/****************  TITRE *********************/
h1{
  padding-top: 2rem;
  text-align: center;
   color: #2F1E0E;
}
h2{
  text-align: center;
}
/***********************************************************************/
/*************************** PARAGRAPHE *******************************/
.intro p{
  text-align: justify;
  padding: 1.6rem;
  color: #2C030B;
}
/******************************** BOXS *******************************/

.cards h3{
  text-align: center;
}

.card{
   background-color: #a58e88;
   border: 2px solid #a58e88;
   border-radius: 6px;
   padding: 4rem;
   margin: 2rem;
}

.button{
   text-align: center;
   background-color: white;
   text-decoration: none;
   color:  #a58e88;
   border-radius: 6px;
   padding: 1rem;
   font-weight: bold;
   text-transform: uppercase;
   
}

.button:hover{
  background-color:  #a58e88;
  color: white;
  border: 2px solid #a58e88;
}

.card ul{
  padding: 2rem;
}
li{
   list-style: none;
}

/***********************************************************************/







/*************************** MÉDIAS QUERIES******************************/

/************* TABLETTE  *************/
@media screen and (min-width: 768px) {
  /**** BOXS *****/
  .cards {
       display: grid; 
       grid-template-columns: repeat(2, 1fr); 
       grid-gap: 2rem;
       justify-items: center; 
   }

   /* .card {
       width: 100%; 
       padding: 2rem; 
 
} */
}

/************* DESKTOP *************/
@media screen and (min-width: 992px){
   /**** BOXS *****/
   .cards {
      display: grid; 
      grid-template-columns: repeat(4, 1fr); 
      grid-gap: 2rem;
      justify-items: center; 
  }

  /* .card {
   width: 100%; 
   padding: 2rem;
}  */
}